@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  /* background: #72cef5; */
}

@layer components {
  .btn-black {
    @apply py-1 px-[22px] bg-black text-primeBlue2 font-bold rounded-[50px];
  }

  .btn-black-2 {
    @apply py-2 px-5 rounded-[48px] gap-1 flex items-center bg-black text-white;
  }

  .btn-active-blue {
    @apply bg-primeBlue3 transition-all duration-500;
  }

  .text-title-green {
    @apply text-[#A8C400];
  }

  .text-content-green {
    @apply text-[#d1fa31];
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}
